@tailwind base;
@tailwind components;
@tailwind utilities;
/* .inside{
    display: flex;
    margin: 1rem;
    background-color: aqua;
  }
  .button{
    margin-left: 10px;
    border: solid black;
    width: 2rem;
    height: 0.5rem;
  } */
  
 
   